/.idea/dictionaries/User.xml
/.idea/workspace.xml
/dist/*
!/dist/src
!/dist/.bowerrc
!/dist/.npmignore
!/dist/bower.json
!/dist/clean.sh
!/dist/karma.conf.js
!/dist/package.json
!/dist/tsconfig.json
!/dist/webpack.config.js
/docgen/dist/*
/docoutput
node_modules
bower_components
package-lock.json
/examples/public
