/.idea/dictionaries/User.xml
/.idea/workspace.xml
/dist/*
!/dist/src
!/dist/.npmignore
!/dist/clean.sh
!/dist/karma.conf.js
!/dist/package.json
!/dist/tsconfig.json
!/dist/webpack.config.js
/docgen/dist/*
/docoutput
node_modules
/examples/public
/test/dist
