/.idea/dictionaries/User.xml
/.idea/workspace.xml
/dist/*
!/dist/.npmignore
!/dist/package.json
!/dist/src
/docgen/classes.json
/docgen/dist/*
/docgen/node_modules/*
/guides/endownload/jwidget.zip
/guides/endownload/plugins
/guides/endownload/**/*.js
/guides/endownload/**/*.ts
/node_modules
