.jw-unit-view-list
{
	display:inline-block;
	height:450px;
	overflow:auto;
	vertical-align:top;
	width:400px;
}

.jw-unit-view-text
{
	display:inline-block;
	height:450px;
	margin-left:10px;
	overflow:auto;
	vertical-align:top;
	width:400px;
}

.jw-unit-view-text-name
{
	font-weight:bold;
	font-size:150%;
	white-space:nowrap;
}

.jw-unit-view-status-label,
.jw-unit-view-error-label,
.jw-unit-view-stack-label
{
	font-weight:bold;
}

.jw-unit-view-status-value[status=ready]
{
	color:#444;
}

.jw-unit-view-status-value[status=start]
{
	color:#770;
}

.jw-unit-view-status-value[status=success]
{
	color:#070;
}

.jw-unit-view-status-value[status=fail]
{
	color:#700;
}

.jw-unit-testunit
{
	width:100%;
}

.jw-unit-testunit-header
{
	cursor:pointer;
}

.jw-unit-testunit-header.jw-unit-selected
{
	background-color:#9BF;
}

.jw-unit-testunit-icon
{
	background-color:#BBB;
	border:1px solid #000;
	float:left;
	height:18px;
	margin-top:1px;
	width:18px;
}

.jw-unit-testunit-icon[status=start]
{
	background-color:#FF0;
}

.jw-unit-testunit-icon[status=success]
{
	background-color:#0F0;
}

.jw-unit-testunit-icon[status=fail]
{
	background-color:#F00;
}

.jw-unit-testunit-name
{
	float:left;
	margin-left:3px;
}
