.application-rect {
    background: silver;
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.application-rect.red {
    background: red;
}

.application-rect.green {
    background: green;
}

.application-rect.blue {
    background: blue;
}
