html, body {
    height: 100%;
}

.error {
    color: red;
}

.stretch {
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#contents {
    margin-top: 56px;
}

#sidebar {
    display: none;
}

#index .nav {
    margin-left: 1rem;
}

#index .nav-link {
    font-weight: 600;
    padding: .5rem 0;
}

#index .nav .nav-link {
    font-weight: 400;
    padding: 0;
}

#index .nav .nav .nav-link {
    font-weight: 300;
}

@media (min-width: 992px) {
    #sidebar {
        display: block;
        float: left;
        height: calc(100% - 56px);
        overflow-y: auto;
        position: fixed;
        width: 300px;
    }

    #main {
        margin-left: 300px;
    }
}
